* {
  margin: 0;
  padding: 0;
}
/* NAVIGATION BARNAVIGATION BAR NAVIGATION BAR */
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-brand img {
  margin-left: 30px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  float: right;
  text-align: right;
}

#nav-bar ul li a:hover {
  color: #007bff !important;
}

.navbar {
  background: #fff;
}

.navbar-toggler {
  border: none !important;
}
.nav-link {
  color: #555 !important;
  font-weight: 600;
  font-size: 16px;
}
/* WELCOME*/
.welcome {
  height: 250px;
  width: 100%;
  background: #2a88cc;
}
h3 {
  color: white;
}
.welcome {
  display: flex;
  align-items: center;
}
h4 {
  text-align: center;
  padding-top: 34px;
}
.form {
  text-align: center;
}
.details {
  outline: 0.1px solid #2a88cc;
}
label {
  color: #2a88cc;
  margin: 0 0 20px 20px;
}
.foot-cont {
  width: 100%;

  padding-top: 50px;
  color: white;
  background: #001220;
}
.col-md-4,
h4 {
  text-align: left;
}

.icons {
  display: inline-block;
  margin-top: 8vh;
}
.bottom-logo {
  margin: auto;
  background-color: white;
}
